body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1631px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1104px;
  height:514px;
}
#u106 {
  position:absolute;
  left:33px;
  top:63px;
  width:1104px;
  height:514px;
}
#u107 {
  position:absolute;
  left:2px;
  top:249px;
  width:1100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1107px;
  height:506px;
}
#u108 {
  position:absolute;
  left:33px;
  top:608px;
  width:1107px;
  height:506px;
}
#u109 {
  position:absolute;
  left:2px;
  top:245px;
  width:1103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:279px;
  top:692px;
  width:0px;
  height:0px;
}
#u110_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:13px;
}
#u110_seg1 {
  position:absolute;
  left:-4px;
  top:5px;
  width:1082px;
  height:8px;
}
#u110_seg2 {
  position:absolute;
  left:1065px;
  top:-1px;
  width:20px;
  height:20px;
}
#u111 {
  position:absolute;
  left:484px;
  top:1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112 {
  position:absolute;
  left:1378px;
  top:691px;
  width:253px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u114 {
  position:absolute;
  left:25px;
  top:24px;
  width:57px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u116 {
  position:absolute;
  left:33px;
  top:587px;
  width:85px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
