body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:143px;
  width:1100px;
  height:580px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:580px;
}
#u1 {
  position:absolute;
  left:2px;
  top:282px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:20px;
  width:1058px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1058px;
  height:110px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:1054px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1080px;
  top:199px;
  width:20px;
  height:17px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u5 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:185px;
  top:174px;
  width:965px;
  height:525px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  height:525px;
}
#u7 {
  position:absolute;
  left:2px;
  top:254px;
  width:961px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:185px;
  top:174px;
  width:964px;
  height:59px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:964px;
  height:59px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:960px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:55px;
  top:242px;
  width:119px;
  height:127px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:127px;
}
#u11 {
  position:absolute;
  left:2px;
  top:56px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:62px;
  top:240px;
  width:100px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D7D7D7;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:73px;
  top:212px;
  width:74px;
  height:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:74px;
  top:210px;
  width:100px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u17 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:66px;
  top:326px;
  width:100px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D7D7D7;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:66px;
  top:377px;
  width:100px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D7D7D7;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:66px;
  top:300px;
  width:100px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D7D7D7;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:66px;
  top:351px;
  width:100px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D7D7D7;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:66px;
  top:403px;
  width:100px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D7D7D7;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u27 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:56px;
  top:454px;
  width:129px;
  height:31px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:31px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:75px;
  top:466px;
  width:109px;
  height:17px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
}
#u31 {
  position:absolute;
  left:2px;
  top:0px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:79px;
  top:462px;
  width:83px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:23px;
}
#u33 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:64px;
  top:492px;
  width:100px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D7D7D7;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u35 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:56px;
  top:520px;
  width:129px;
  height:31px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:31px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:64px;
  top:558px;
  width:100px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D7D7D7;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:64px;
  top:584px;
  width:100px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D7D7D7;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:75px;
  top:532px;
  width:109px;
  height:17px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
}
#u43 {
  position:absolute;
  left:2px;
  top:0px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:79px;
  top:528px;
  width:100px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:55px;
  top:264px;
  width:129px;
  height:31px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:31px;
}
#u47 {
  position:absolute;
  left:2px;
  top:8px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:75px;
  top:276px;
  width:109px;
  height:17px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
}
#u49 {
  position:absolute;
  left:2px;
  top:0px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:79px;
  top:272px;
  width:83px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D7D7D7;
  text-align:left;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:23px;
}
#u51 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:66px;
  top:428px;
  width:100px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D7D7D7;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u53 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:200px;
  top:174px;
  width:136px;
  height:23px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:23px;
}
#u55 {
  position:absolute;
  left:2px;
  top:4px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:200px;
  top:174px;
  width:100px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#F2F2F2;
  text-align:left;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u57 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:185px;
  top:197px;
  width:965px;
  height:502px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  height:502px;
}
#u59 {
  position:absolute;
  left:2px;
  top:243px;
  width:961px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:185px;
  top:174px;
  width:965px;
  height:506px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  height:506px;
}
#u61 {
  position:absolute;
  left:2px;
  top:245px;
  width:961px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:673px;
  top:506px;
  width:47px;
  height:43px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u63 {
  position:absolute;
  left:2px;
  top:14px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:559px;
  top:440px;
  width:236px;
  height:99px;
  font-size:8px;
  text-align:left;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:99px;
}
#u65 {
  position:absolute;
  left:2px;
  top:17px;
  width:232px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:985px;
  top:174px;
  width:164px;
  height:63px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:63px;
}
#u67 {
  position:absolute;
  left:2px;
  top:24px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:270px;
  top:194px;
  width:797px;
  height:56px;
  font-size:8px;
  text-align:left;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:56px;
}
#u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:793px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:913px;
  top:212px;
  width:49px;
  height:25px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u71 {
  position:absolute;
  left:303px;
  top:212px;
  width:150px;
  height:25px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u72 {
  position:absolute;
  left:472px;
  top:212px;
  width:150px;
  height:25px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u73 {
  position:absolute;
  left:671px;
  top:212px;
  width:60px;
  height:25px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
}
#u73_input:disabled {
  color:grayText;
}
#u74 {
  position:absolute;
  left:659px;
  top:212px;
  width:244px;
  height:25px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u75 {
  position:absolute;
  left:972px;
  top:212px;
  width:77px;
  height:25px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
