body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:21px;
  width:1030px;
  height:499px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:499px;
}
#u1 {
  position:absolute;
  left:2px;
  top:2px;
  width:1026px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:530px;
  width:1100px;
  height:580px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:580px;
}
#u3 {
  position:absolute;
  left:2px;
  top:282px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
